<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mini curso en línea">
    <link rel="shortcut icon" href="{{request.static_url('learn:static/sac.png')}}">
    <title>Sigue al Congreso - Aprende</title>
    <link href="{{request.static_url('learn:static/dist/css/app.4fc0b62e4b82c997bb0041217cd6b979.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="/custom.css">

    <meta property="og:title" content="Sigue al Congreso" />
    <meta property="og:description" content="Monitoreo parlamentario ciudadano" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://siguealcongreso.org/" /><meta property="og:image" content="http://siguealcongreso.org/logo.jpg"/><meta property="og:site_name" content="Sigue al Congreso" />

    <meta itemprop="name" content="Sigue al Congreso">
    <meta itemprop="description" content="Monitoreo parlamentario ciudadano"><meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="http://siguealcongreso.org/logo.jpg"/>

    <meta name="twitter:title" content="Sigue al Congreso"/>
    <meta name="twitter:description" content="Monitoreo parlamentario ciudadano"/>
  </head>

  <body class="ma0 avenir bg-near-white">

    <header>
      <div class="pb3-m pb6-l bg-dark-blue">
	<nav class="pv3 ph3 ph4-ns" role="navigation">
	  <div class="flex-l justify-between items-center center">
	    <a href="/" class="f3 fw2 hover-white no-underline white-90 dib">
              Sigue al Congreso </a>
	      <div class="flex-l items-center">
	      </div>
	  </div>
	</nav>

	<div class="tc-l pv3 ph3 ph4-ns">
          <h1 class="f2 f-subheadline-l fw2 light-silver mt0 mb0 lh-title">Sigue al Congreso </h1>
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3"> Monitoreo parlamentario ciudadano</h2>
	</div>
      </div>
    </header>

  <main class="pb7" role="main">
    <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
            {% block content %}
                <p>No content</p>
            {% endblock content %}
    </article>
  </main>
  <footer class="bg-dark-blue bottom-0 w-100 pa3" role="contentinfo">
    <div class="flex justify-between">
      <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="http://siguealcongreso.org" >
	&copy;  Sigue al Congreso 2022 </a>
	<div>
	</div>
    </div>
  </footer>

  <script src="{{request.static_url('learn:static/dist/js/app.3fc0f988d21662902933.js')}}"></script>
  </body>
</html>
