{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ info.title }}</span> <span class="smaller">{{ info.description }}</span></h1>
  <form action='/' method='POST'>
    <input type="hidden" name="index" value="{{ counter }}">
    <p class="lead">{{ number }}. {{ question.text }}</p>
    {% for option in question.options %}
    <p><label><input type="{{ input_type }}" value="{{ option.index }}" name="{{ counter }}" {% if option.index in indexes %}checked{% endif %} />{{ option.text }}</label>
    {% endfor %}
    {% if not passed and question %}<p><input type="submit" value="enviar">{% endif %}
    {% if not question %}<p class="lead">{{ info.end | safe }}{% endif %}
  <p class="lead">{{ feedback | safe }}
  <p>{% if passed %}<input type="hidden" name="passed" value="passed">
    <input type="submit" value="siguiente">{% endif %}
  </form>
</div>
{% endblock content %}
