<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mini curso en línea">
    <link rel="shortcut icon" href="{{request.static_url('learn:static/sac.png')}}">
    <title>Sigue al Congreso - Aprende</title>
    <link href="{{request.static_url('learn:static/css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="/custom.css">

    <meta property="og:title" content="Sigue al Congreso" />
    <meta property="og:description" content="Monitoreo parlamentario ciudadano" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://siguealcongreso.org/" /><meta property="og:image" content="http://siguealcongreso.org/logo.jpg"/><meta property="og:site_name" content="Sigue al Congreso" />

    <meta itemprop="name" content="Sigue al Congreso">
    <meta itemprop="description" content="Monitoreo parlamentario ciudadano"><meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="http://siguealcongreso.org/logo.jpg"/>

    <meta name="twitter:title" content="Sigue al Congreso"/>
    <meta name="twitter:description" content="Monitoreo parlamentario ciudadano"/>
  </head>

  <body lang="en">

<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="http://siguealcongreso.org" class="site-avatar"><img src="{{request.static_url('learn:static/logo.jpg')}}" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="http://siguealcongreso.org/">Sigue al Congreso</a></h1>
        <p class="site-description">Monitoreo parlamentario ciudadano</p>
        <div class="social-media">





        </div>
      </div>

      <nav>
        <a href="/acerca">Acerca de</a>
      </nav>
    </header>
  </div>
</div>

    <header>
	<div class="container">
          <h2>{{info.title}}</h1>
          <h3>{{info.description}}</h2>
	</div>
    </header>

  <main>
    <article class="container">

<div class="content">
  <form action='{{request.path}}#main' method='POST'>
    <input type="hidden" name="index" value="{{ counter }}">
    <input type="hidden" name="n" value="{{ n }}">
    <p class="black">{{ number }}. {{ question.text }}</p>
    {% for option in question.options %}
    <p><label><input type="{{ input_type }}" value="{{ option.index }}" name="{{ counter }}" {% if option.index in indexes %}checked{% endif %} /> {{ option.text }}</label>
    {% endfor %}
    {% if not passed and question %}<p><input type="submit" value="enviar">{% endif %}
    {% if not question %}<p class="lead">{{ info.end | safe }}{% endif %}
  <p class="black">{{ feedback | safe }}
  <p>{% if passed %}<input type="hidden" name="passed" value="passed">
    <input type="submit" value="siguiente">{% endif %}
  </form>
</div>

    </article>
  </main>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
        © Sigue al Congreso 2023
        </footer>
      </div>
    </div>
  </body>
</html>

